.app-div {
    width: 300px;
}

.banner-div {
    position: fixed;     /* Makes it fixed to the viewport */
    bottom: 10px;        /* Distance from the bottom of the viewport */
    right: 50px;         /* Distance from the left of the viewport */
    color: white;        /* Text color */
    border-radius: 5px;  /* Optional rounded corners */
    z-index: 1000;       /* Ensures it stays on top of other elements */
}

.content {
    height: 1000px;
}