button {
    margin: 5px;
}
  
/* Style for selected button */
button.selected {
    background-color: #ba005c;  /* Use the primary color from Material theme */
    color: white;  /* Change the text color */
    border: 2px solid #ba005c; /* Optional: add a border with primary color */
}
  
/* Optional: Add hover effect for non-selected buttons */
button:not(.selected):hover {
    background-color: #f1f1f1;
}

.button-section {
    display: flex;
    justify-content: center;
}

.movie-card {
    width: 200px;
    min-width: 250px;

    .img-div {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px auto;
        img {
            width: 80%;
            height: auto;
            margin: 0 auto;
            border-radius: 10px;
            transition: all 0.5s ease-in-out;
        }
        img:hover {
            cursor: pointer;
            width: 90%;
        }
    }
}

.genre-rec {
    display: flex;
    /* make it scrollable */
    overflow-x: auto;
    scroll-behavior: smooth; /* Smooth scrolling */
    -webkit-overflow-scrolling: touch; /* iOS touch scrolling support */
    justify-content: left;
    gap: 20px;
    padding: 10px 0;
    height: 350px;
}

.genre-rec::-webkit-scrollbar {
    height: 8px; /* Adjust scrollbar height */
}

.genre-rec::-webkit-scrollbar-thumb {
    background: #888; /* Scrollbar thumb color */
    border-radius: 4px; /* Round the corners of the thumb */
}

.genre-rec::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker on hover */
}

.genre-rec:first-child {
    margin-left: 10px;
}

.button-section {
    margin: 20px 0;
}

.recommendation-div {
    margin: 0 20px;
}

.recommendation-content {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}